# Supabase Public API Settings
NEXT_PUBLIC_SUPABASE_URL=https://jdqhpgcvpbyshmnmwifo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpkcWhwZ2N2cGJ5c2htbm13aWZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA1OTYzODgsImV4cCI6MjEwNjE3MjM4OH0.hntPoYZoEFFhWB0ysF6N8QaIQclxmSY6pvaqld2b268
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpkcWhwZ2N2cGJ5c2htbm13aWZvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDU5NjM4OCwiZXhwIjoyMTA2MTcyMzg4fQ.nXAd8WlwRON8DpFl1ecqBhoLri9sLx6jlWquiNe0SuI
